.initial-position {
    top: 7vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.complementar-text-container {
    padding-top: 40px;
    margin: 0 auto;
}

.social-container {
    margin: 50px 30px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    position: relative;

    p {
        width: 120px;
        flex: 1;
    }

    .gl {
        text-align: right;
    }

    span {
        flex: 1;
        max-width: 1px;
        &::after {
        content: "";
        height: 45px;
        position: absolute;
        border-right: 1px solid white;
        bottom: -10px;
        }
    }
}