.login-position {
    top: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.complementar-text-container {
    padding-top: 40px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.error {
    border: 1px solid red;
    z-index: -10;
}