.login-position {
    top: 7vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.complementar-text-container {
    padding-top: 40px;
    margin: 0 auto;

    p {
        font-size: 13px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.error {
    border: 1px solid red;
    z-index: -10;
}