.register-position {
    top: 25vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.complementar-text-container {
    padding-top: 40px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}