.menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #012145;
  box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.1);
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 10px 0;

    li {
      list-style: none;
    }
  }
}